name: Test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        ocaml-compiler: [5.3.0]
    name: OCaml ${{ matrix.ocaml-compiler }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}
        opam-local-packages: |
          *.opam
          !ocaml-solo5-cross-aarch64.opam
    - name: Install ocaml-solo5 and dune
      run: opam install ocaml-solo5 conf-libseccomp dune
    - name: Show the toolchain configuration
      run: |
        set -x
        opam exec -- ocamlfind -toolchain solo5 opt -config
        opam exec -- ocamlfind -toolchain solo5 printconf
        opam exec -- ocamlfind -toolchain solo5 list
    - name: Compile examples with hvt
      run: MODE=hvt opam exec -- dune build --root example
    - name: Compile examples with spt
      run: MODE=spt opam exec -- dune build --root example
    - name: Run examples with spt
      run: MODE=spt opam exec -- dune runtest --root example
    - name: Compile examples with virtio
      run: MODE=virtio opam exec -- dune build --root example
    - name: Compile examples with muen
      run: MODE=muen opam exec -- dune build --root example
    - name: Compile examples with xen
      run: MODE=xen opam exec -- dune build --root example
    - name: Enable KVM group perms
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm
        sudo apt-get update
        sudo apt-get install -y libvirt-clients libvirt-daemon-system libvirt-daemon virtinst bridge-utils qemu-kvm qemu-system-x86
        sudo usermod -a -G kvm,libvirt $USER
    - name: Compile a simple Hello World!
      run: |
        opam install fmt
        opam exec -- dune build --root unikernel main.exe
        opam exec -- dune describe location --root unikernel --context solo5 --no-print-directory ./main.exe &> unikernel.tmp
        echo "UNIKERNEL=$(cat unikernel.tmp)" >> $GITHUB_ENV
    - name: Run a simple Hello World!
      run: opam exec -- solo5-hvt -- "unikernel/$UNIKERNEL"
