name: Test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        ocaml-version: [4.13.1]
        mode:
          - name: hvt
            exec: false
          - name: spt
            exec: true
          - name: virtio
            exec: false
          - name: muen
            exec: false
          - name: xen
            exec: false
        include:
          - operating-system: ubuntu-latest
            ocaml-version: 4.13.0
            mode:
              name: spt
              exec: true
          - operating-system: ubuntu-latest
            ocaml-version: 4.12.1
            mode:
              name: spt
              exec: true
    name: ${{ matrix.mode.name }} / ${{ matrix.ocaml-version }}
    runs-on: ${{ matrix.operating-system }}
    steps:
    - uses: actions/checkout@v2
    - uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: ${{ matrix.ocaml-version }}
        opam-local-packages: |
          !ocaml-solo5-cross-aarch64.opam
    - name: Pinning package
      run: opam pin add -n -t -y ocaml-solo5 .
    - name: Install ocaml-solo5 and dune
      run: opam depext -iyt ocaml-solo5 conf-libseccomp dune
    - name: Compiling example project
      run: MODE=${{ matrix.mode.name }} opam exec -- dune build --root test
    - name: Running example project
      if: ${{ matrix.mode.exec }}
      run: opam exec -- solo5-${{ matrix.mode.name }} test/_build/solo5/main.exe || [ $? -eq 1 ]
