name: Test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        ocaml-compiler: [5.3.0]
    name: OCaml ${{ matrix.ocaml-compiler }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: ${{ matrix.ocaml-compiler }}
        opam-local-packages: |
          *.opam
          !ocaml-solo5-cross-aarch64.opam
    - name: Install ocaml-solo5 and dune
      run: opam install ocaml-solo5 conf-libseccomp dune
    - name: Show the toolchain configuration
      run: |
        set -x
        opam exec -- ocamlfind -toolchain solo5 opt -config
        opam exec -- ocamlfind -toolchain solo5 printconf
        opam exec -- ocamlfind -toolchain solo5 list
    - name: Compile examples with hvt
      run: MODE=hvt opam exec -- dune build --root example
    - name: Compile examples with spt
      run: MODE=spt opam exec -- dune build --root example
    - name: Run examples with spt
      run: MODE=spt opam exec -- dune runtest --root example
    - name: Compile examples with virtio
      run: MODE=virtio opam exec -- dune build --root example
    - name: Compile examples with muen
      run: MODE=muen opam exec -- dune build --root example
    - name: Compile examples with xen
      run: MODE=xen opam exec -- dune build --root example
